* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Manrope", sans-serif;
}

body {
	background-image: url(images/bg-pattern.svg);
	background-repeat: no-repeat;
	background-size: cover;
	/* min-height: 100vh; */
}

.main {
	margin: 5rem auto;
	width: 90vw;
}

/* -----------------------------------------------
----------------HEADER----------------------------
----------------------------------------------- */

header {
	width: 90vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	text-align: center;
	margin-bottom: 3rem;
	background-image: url(images/pattern-circles.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	padding: 1.5rem 0;
}

header span {
	width: 60vw;
	color: hsl(225, 20%, 60%);
	line-height: 1.8rem;
}

h1 {
	font-size: 1.4rem;
}

/* -----------------------------------------------
----------------INPUT CONTAINER-------------------
----------------------------------------------- */
.pricing-card {
	width: 90vw;
	max-width: 40rem;
	box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.152073);
	display: grid;
	justify-items: center;
	gap: 2rem;
	padding: 2rem 0;
	background: white;
	border-radius: 10px;
}

.pricing-card__views {
	font-weight: 800;
	letter-spacing: 0.1rem;
	color: hsl(225, 20%, 60%);
}
